/*
html{
  body{
    section{
      width: 100%;
    }
    section#section-top{
      background-image: url("skyscraper.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: auto;
      display: inline-block;
      align: top;
      clear: both;
      position: relative;
      overflow: hidden;
      background-color: rgba(0, 0, 0, 0.1);
      div#div-top {
        //background-color: rgba(0, 0, 0, 0.1);
        div#text-top {
          position: relative;
          width: 60%;
          float: left;
          color: $color-scheme;
          font-size: 2rem;
          height: auto;
          display: inline-block;
          div#text1 {
            position: relative;
            width: auto;
            height: auto;
            padding: 7% 0% 0% 27%;
            p#p1 {
              color: $color-scheme;
              font-family: Myriad Pro;
              font-size: 3.8rem;
              line-height: 120%;
            }
          }
          div#text2 {
            position: relative;
            position: relative;
            width: auto;
            height: auto;
            padding: 0.5% 0% 0% 27%;
            p#p2 {
              color: $color-scheme;
              font-family: Gothambook, Gotham;
              font-size: 3rem;
              line-height: 120%;
            }
          }
          div#button1 {
            position: relative;
            width: auto;
            height: auto;
            padding: 4% 0% 10% 27%;
            button#btn-submit {
              left: 10%;
              background-color: rgb(86, 187, 66);
              color: white;
              font-family: Gothambook, Gotham;
              font-size: 150%;
              padding: 15px 45px;
              border: none;
              border-radius: 10px;
              font-weight: bold;
            }
          }
        }
        div#top-right {
          width: 39%;
          height: auto;
          position: relative;
          float: right;
          padding: 5% 0% 8% 0%;
          img#img-device {
            margin-left: -80px;
            display: inline-block;
            width: 80%;
            height: auto;
          }
        }
      }
    }
    section#section-mid{
      position: relative;
      background-color: rgb(228,228,228);
      height: auto;
      display: inline-block;
      padding: 2% 0%;
      margin: auto;
      div#div-mid1 {
        display: inline-block;
        width: 32%;
        vertical-align: top;
        div#div-sec-left {
          padding-left: 8%;
          display: inline-block;
          img#img-wifi {
            width: 100px;
            height: auto;
          }
          div#div-left-text {
            padding: 1% 0%;
            vertical-align: top;
            display: inline-block;
            width: 80%;
            color: $color-scheme;
            font-size: 1.3em;
            text-align: left;
          }
        }
      }
      div#div-mid2 {
        display: inline-block;
        width: 32%;
        vertical-align: top;
        div#div-sec-center {
          padding-left: 8%;
          display: inline-block;
          img#img-connect {
            width: 100px;
            height: auto;
          }
          div#div-center-text {
            padding: 1% 0%;
            vertical-align: top;
            display: inline-block;
            width: 80%;
            color: $color-scheme;
            font-size: 1.3em;
            text-align: left;
          }
        }
      }
      div#div-mid3 {
        display: inline-block;
        width: 32%;
        vertical-align: top;
        div#div-sec-right {
          padding-left: 8%;
          display: inline-block;
          img#img-message {
            width: 100px;
            height: auto;
          }
        }
        div#div-right-text {
          padding: 1% 0%;
          vertical-align: top;
          display: inline-block;
          width: 80%;
          color: $color-scheme;
          font-size: 1.3em;
          text-align: left;
        }
      }
    }
    section#section-mid2{
      display: inline-block;
      background-color: white;
      position: relative;
      float: left;
      width: 100%;
      height: auto;
      vertical-align: middle;
      div#major2 {
        width: 100%;
        div#div-sec-mid2-left {
          display: inline-block;
          position: relative;
          float: left;
          width: 30%;
          height: auto;
          padding: 1% 0%;
          text-align: right;
          vertical-align: middle;
          img#iphone7 {
            display: inline-block;
            position: relative;
            vertical-align: middle;
            padding-right: 2%;
            max-width: 70%;
            height: auto;
            margin: auto;
          }
        }
        div#div-sec-mid2-right {
          float: right;
          width: 69%;
          height: auto;
          position: relative;
          vertical-align: middle;
          div#b3 {
            height: auto;
            position: relative;
            div#b1 {
              padding-top: 3%;
              vertical-align: middle;
              div#b11 {
                vertical-align: middle;
                width: 75%;
                padding: 1% 0%;
                p#p3 {
                  vertical-align: middle;
                  font-family: Myriad Pro;
                  font-size: 2.3em;
                  color: $color-scheme;
                }
              }
              div#b12 {
                vertical-align: middle;
                width: 75%;
                padding: 1% 0%;
                p#p4 {
                  vertical-align: middle;
                  font-family: Gothambook, Gotham;
                  font-size: 1.3em;
                  color: $color-scheme;
                  line-height: 120%;
                }
              }
            }
            div#b2 {
              vertical-align: middle;
              padding: 2% 0%;
              width: 75%;
              button#btn-submit2 {
                display: inline-block;
                background-color: rgb(86, 187, 66);
                color: white;
                font-family: Gothambook, Gotham;
                font-size: 130%;
                padding: 18px 32px;
                border: none;
                border-radius: 10px;
              }
            }
          }
        }
      }
    }
    section#section-bottom {
      padding-top: 20px;
      display: inline-block;
      clear: both;
      background-color: white;
      align: top;
      position: relative;
      height: auto;
      div#bottom {
        height: auto;
        div#div-sec-bot-left {
          position: relative;
          display: inline-block;
          width: 50%;
          height: auto;
          float: left;
          header#header-mid {
            clear: both;
            display: inline-block;
            position: relative;
            background-color: white;
            font-family: Myriad Pro;
            padding-left: 5%;
            padding-bottom: 2%;
            text-align: center;
            color: $color-scheme;
            font-size: 220%;
            width: 80%;
            height: auto;
            vertical-align: middle;
          }
          div#phone {
            float: left;
            position: relative;
            width: 37%;
            height: auto;
            display: inline-block;
            margin: auto;
            vertical-align: middle;
            text-align: right;
            img#img-phone {
              display: inline-block;
              position: relative;
              vertical-align: middle;
              width: 55%;
              height: auto;
              margin: auto;
            }
          }
          div#right-phone {
            float: right;
            position: relative;
            width: 60%;
            height: auto;
            vertical-align: middle;
            padding:1% 0%;
            div#a {
              display: inline-block;
              position: relative;
              height: auto;
              width: 100%;
              padding: 2% 0% 3% 0%;
              vertical-align: middle;
              div#wifi2 {
                dislay: inline-block;
                position: relative;
                height: auto;
                width: 100%;
                vertical-align: middle;
                img#img-wifi2 {
                  dislay: inline-block;
                  position: relative;
                  width: 6rem;
                  z-index: 2;
                  vertical-align: middle;
                }
              }
              div#div-bot-left-text {
                padding: 0% 1% 0% 0%;
                width: 70%;
                vertical-align: middle;
                p#pp1 {
                  vertical-align: middle;
                  width: 60%;
                  padding: 2% 0%;
                  position: absolute;
                  top: 27px;
                  left: 3%;
                  padding-left: 90px;
                  display: inline-block;
                  background-color: rgb(228, 228, 228);
                  font-family: Gothambook, Gotham;
                  color: $color-scheme;
                  font-size: 95%;
                  z-index: 1;
                }
              }
            }
            div#b {
              display: inline-block;
              position: relative;
              height: auto;
              width: 100%;
              padding: 0% 0% 3% 0%;
              vertical-align: middle;
              div#connect2 {
                dislay: inline-block;
                position: relative;
                height: auto;
                width: 100%;
                vertical-align: middle;
                img#img-connect2 {
                  dislay: inline-block;
                  position: relative;
                  width: 6rem;
                  z-index: 2;
                  vertical-align: middle;
                }
              }
              div#div-bot-center-text {
                padding: 0% 1% 0% 0%;
                width: 70%;
                vertical-align: middle;
                p#pp2 {
                  vertical-align: middle;
                  width: 60%;
                  padding: 2% 0%;
                  position: absolute;
                  top: 18px;
                  left: 3%;
                  padding-left: 90px;
                  display: inline-block;
                  background-color: rgb(228, 228, 228);
                  font-family: Gothambook, Gotham;
                  color: $color-scheme;
                  font-size: 95%;
                  z-index: 1;
                }
              }
            }
            div#c {
              display: inline-block;
              position: relative;
              height: auto;
              width: 100%;
              vertical-align: middle;
              div#message2 {
                dislay: inline-block;
                position: relative;
                height: auto;
                width: 20%;
                vertical-align: middle;
                img#img-message2 {
                  dislay: inline-block;
                  position: relative;
                  width: 4em;
                  z-index: 2;
                  vertical-align: middle;
                }
              }
              div#div-bot-right-text {
                padding: 0% 1% 0% 0%;
                width: 80%;
                vertical-align: middle;
                display: inline-block;
                p#pp3 {
                  vertical-align: middle;
                  display: inline-block;
                  width: 60%;
                  padding: 2% 0%;
                  position: absolute;
                  top: 18px;
                  left: 3%;
                  padding-left: 90px;
                  background-color: rgb(228, 228, 228);
                  font-family: Gothambook, Gotham;
                  color: $color-scheme;
                  font-size: 95%;
                  z-index: 1;
                  vertical-align: middle;
                }
              }
            }
          }
        }
        div#div-sec-bot-right {
          float: right;
          display: inline-block;
          width: 40%;
          position: relative;
          height: auto;
          vertical-align: middle;
          button.btn-tab {
            vertical-align: middle;
            font-size: 100%;
            font-family: Gothambook, Gotham;
            color: white;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
          }
          button#btn-tab2 {
            vertical-align: middle;
            background-color: $color-scheme;
            border-top-right-radius: 10px;
            width: 50%;
            height: auto;
          }
          button#btn-tab1 {
            vertical-align: middle;
            background-color: rgb(248, 175, 70);
            width: 50%;
            height: auto;
          }
          div.tabs {
            overflow: hidden;
            background-color: $color-scheme;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            width: 80%;
          }
          div.tabs button {
            vertical-align: middle;
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 25px 50px;
            transition: 0.3s;
          }
          div.tabs button.active {
            vertical-align: middle;
            background-color: red;
          }
          div#tab1 {
            display: inline-block;
            background-color: $color-scheme;
            width: 80%;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            font-family: Gothambook, Gotham;
            vertical-align: middle;
            div#txt1 {
              height: 80px;
              vertical-align: middle;
              text-align: center;
              padding: 3% 0%;
              input#txtbox1 {
                background-color: rgb(229, 229, 229);
                width: 70%;
                height: 40%;
                color: $color-scheme;
                border: 1px solid $color-scheme;
                border-radius: 10px;
                font-size: 120%;
                padding: 3%;
                font-family: Gothambook, Gotham;
                vertical-align: middle;
              }
              ::-webkit-input-placeholder{
                color: $color-scheme;
              }
            }
            div#txt2 {
              height: 80px;
              vertical-align: middle;
              text-align: center;
              padding: 3% 0%;
              input#txtbox2 {
                background-color: rgb(229, 229, 229);
                width: 70%;
                height: 40%;
                color: $color-scheme;
                border: 1px solid $color-scheme;
                border-radius: 10px;
                font-size: 120%;
                padding: 3%;
                font-family: Gothambook, Gotham;
                vertical-align: middle;
              }
              ::-webkit-input-placeholder{
                color: $color-scheme;
              }
            }
            div#btn3 {
              height: auto;
              vertical-align: middle;
              padding: 3% 0%;
              text-align: left;
              padding-left: 45%;
              padding-bottom: 7%;
              button#btn-submit3 {
                background-color: rgb(86, 187, 66);
                color: white;
                font-family: Gothambook, Gotham;
                font-size: 130%;
                font-weight: bold;
                padding: 18px 32px;
                border: none;
                border-radius: 10px;
                vertical-align: middle;
              }
            }
          }
        }
      }
    }
  }
}*/
